aniso8601==7.0.0
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
Flask-GraphQL==2.0.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==3.1.1
gunicorn==22.0.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
numpy==2.1.1
packaging==24.1
pandas==2.2.3
pluggy==1.5.0
promise==2.3
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
Rx==1.6.3
scikit-learn==1.5.2
scipy==1.14.1
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.54
threadpoolctl==3.5.0
tzdata==2024.2
Werkzeug==3.0.4
